<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>MapWeb DataBase Editer</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- <link rel = "stylesheet" href="/stylesheets/style.css"> -->
</head>
<body>
  <form action="http://localhost:3000/recomanded" method="post">
    <div id="in_title">
      <textarea name="spot" id="utitle" rows="1" cols="30" placeholder="spot" required></textarea><br>
      <textarea name="des" id="utitle" rows="1" cols="30" placeholder="des" required></textarea><br>
      <textarea name="moreLink" id="utitle" rows="1" cols="30" placeholder="moreLink" required></textarea><br>
      <textarea name="picLink" id="utitle" rows="1" cols="30" placeholder="picLink" required></textarea><br>
      <textarea name="lat" id="utitle" rows="1" cols="30" placeholder="lat" required></textarea><br>
      <textarea name="lng" id="utitle" rows="1" cols="30" placeholder="lng" required></textarea><br>
      <textarea name="tag1" id="utitle" rows="1" cols="30" placeholder="tag1" required></textarea>
      <textarea name="tag2" id="utitle" rows="1" cols="30" placeholder="tag2" required></textarea>
      <textarea name="tag3" id="utitle" rows="1" cols="30" placeholder="tag3" required></textarea><br>
    </div>
    <div class="bt_se">
        <button type="submit">글 작성</button>
    </div>
    <br><br>
  </form>
  <div id='spotData'></div>
    <script>
      var dataList;
      var url = "http://localhost:3000/recomanded";
      $.ajax({
        // url : "https://itjusttravel.herokuapp.com/file/register", // test.jsp 에서 받아옴
        url : url,
        dataType :"json", // 데이터타입을 json 으로 받아옴
        success : function(data) {
            dataList = data;
            setContent();  
        },
        error : function(e) {
            console.log(e.responseText);
            console.log(e);
        }
      })
      var setContent = function() {
        
        for(var target of dataList){
          // console.log(target)
          var content =`
          <div class = "button">
              <div class = "update" style = "float: left;">
                <form class="contact-form" action="/${target._id}?_method=put" method="post">
                  이름 : <input type="text" id="spot" name="spot" value="${target.spot}"><br>
                  설명 : <input type="text" id="des" name="des" value="${target.des}"><br>
                  링크 : <input type="text" id="moreLink" name="moreLink" value="${target.moreLink}"><br>
                  사진 : <input type="text" id="picLink" name="picLink" value="${target.picLink}"><br>
                  위도 : <input type="text" id="lat" name="lat" value="${target.lat}"><br>
                  경도 : <input type="text" id="lng" name="lng" value="${target.lng}"><br>
                  태그1 (서울) : <input type="text" id="tag1" name="tag1" value="${target.tag1}">
                  태그2 (놀이공원) : <input type="text" id="tag2" name="tag2" value="${target.tag2}">
                  태그3 (기타) : <input type="text" id="tag3" name="tag3" value="${target.tag3}">
                  <button type="submit">Submit</button>
                </form>
              </div>
              <div class = "delete" style = "float: left;">
                <form action="/${target._id}?_method=delete" method="post">
                  <a href="#" onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;">Delete</a>
                </form>
              </div>
            </div>
            <br style = "clear: left;">
            <hr style = "clear: left;">
          `
          $("#spotData").append(content)
        }
      }

    </script>
</body>
</html>